.work-container {
    margin: 0px auto;
    width: 95%;
    max-width: 1000px;
}

.work-container__main {
    width: 90%;
    margin: 30px auto;
}

.work-container__tabs {
    position: relative;
    flex-shrink: 0;
}

.work-container__tabs .MuiTabs-indicator {
    background-color: var(--color-5);
    transition: all 250ms linear;
    width: 4px;
}

.work-container__tabs__tab {
    color: white !important;
    font-family: Montserrat !important;
    font-weight: 700 !important;
    transition: all 150ms ease-in !important;
    padding: 10px 20px 10px 10px;
    font-size: 18px !important;
    line-height: 18px !important;
    align-items: flex-end !important;
}

.work-container__tabs__tab:hover {
    color: var(--color-5) !important;
}

.work-container__tabs__tab.active {
    color: var(--color-5) !important;
}

.work-container__content {
    color: white;
    padding: 0 10px;
    padding-left: 20px;
}

.work-container__content h1 {
    font-size: 35px;
    color: var(--color-3);
}

.work-container__content p {
    font-size: 18px;
    margin: 5px 0;
    color: var(--color-4);
}

.work-container__content ul {
    list-style: none;
    margin-top: 20px;
}

.work-container__content li {
    position: relative;
    padding: 10px 0 10px 25px;
    font-size: 22px;
}

.work-container__content li::before {
    content: '▹';
    color: var(--color-5);
    position: absolute;
    left: 0;
}

@media (max-width: 1000px) {

    .work-container__main {
        flex-direction: column;
        width: 100%;
        margin: 20px auto;
    }

    .work-container__tabs {
        margin-bottom: 20px !important;
    }

    .work-container__tabs__tab {
        text-align: center;
    }

    .work-container__tabs .MuiTabs-indicator {
        height: 4px;
    }

    .work-container__content {
        padding: 0;
        width: 95%;
        margin: 0 auto;
    }

    .work-container__content h1 {
        font-size: 24px;
    }

    .work-container__content p {
        font-size: 14px;
    }

    .work-container__content li {
        font-size: 16px;
        padding: 10px 0vh 10px 25px;
    }
    
    .work-container__content ul {
        margin-top: 2vh;
    }

    .work-container__tabs__tab {
        font-size: 2vh !important;
    }
}