#thirdPage {
  position: relative;
  height: fit-content;
  width: 100vw;
}

#skillsContainer {
  margin: 10vh 0vh;
  position: relative;
  width: 85%;
  height: fit-content;
}

.skillsProgressBarParentContainer {
  width: 100%;
  box-shadow: 0px 0px 20px black;
  margin: 2vh 0px;
  background-color: var(--color-2);
  font-family: Montserrat;
  padding: 1px 0px;
  align-items: center;
}

.skillsProgressBarParentContainer h1 {
  width: fit-content;
  font-size: 6.5vh;
  margin: 2vh 0;
  color: var(--color-4);
}

.skillsProgressBarContainer {
  position: relative;
  width: 85%;
  gap: 5%;
  margin: 6vh 0 15vh 0;
}

.skillsProgressBarContainerChildren {
  width: 50%;
  height: fit-content;
  position: relative;
}

.actualProgressBarParentDiv {
  width: 100%;
  height: fit-content;
  position: relative;
  margin: 0 0 5vh 0;
}

.actualProgressBarParentDiv h2 {
  color: var(--color-4);
  font-size: 3.5vh;
  margin: 0px 2.5vh;
  margin-bottom: 1vh;
}

.bar {
  width: 100%;
  height: 2vh;
  background-color: var(--color-1);
  border-radius: 1vh;
}

.progress {
  height: 2vh;
  background-color: var(--color-5);
  border-radius: 1vh;
  position: absolute;
  bottom: 0px;
  box-shadow: 0px 0px 4px var(--color-5);
}

.progressPercentageDiv {
  position: absolute;
  right: 0px;
  padding: 3px 5px;
  transform: translate(1vh, -130%);
  width: fit-content;
  height: fit-content;
  background-color: var(--color-1);
  color: white;
  font-weight: bold;
}

.progressPercentageDiv::after {
  content: "";
  position: absolute;
  display: block;
  height: 1.5vh;
  bottom: -0.725vh;
  right: 1vh;
  transform: rotate(45deg);
  aspect-ratio: 1;
  background-color: var(--color-1);
}

@media (max-width: 800px) {
  #skillsContainer {
    width: 95%;
  }

  .skillsProgressBarContainer {
    width: 95%;
    flex-direction: column;
    gap: 0px;
  }

  .skillsProgressBarContainerChildren {
    width: 100%;
  }
}
